@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.5;
  background-color: #fff;
}
h1 {
  font-size: 3rem;
  /* border-bottom: 0.3rem red solid; */
  width: fit-content;
  margin: 0rem 0rem 2rem;
  color: #fff;
  text-shadow: 0.5rem 0.5rem #432;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.65rem;
}
p {
  font-size: 1.3rem;
}
a {
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
/*ヘッダー
-------------------------------------*/
header {
  background-image: url("テレビ.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
}
.header {
  background-image: url("ポップコーン.jpg");
}
.header p {
  font-weight: bold;
  color: #fff;
  text-shadow: 0.1rem 0.1rem #432;
}
/*メインとアサイドのディスプレイ
-------------------------------------*/
.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 40rem;
  width: 40rem;
}
nav {
  /* background-color: aliceblue; */
  padding: 5% 0% 5% 15%;
  display: inline-block;
}
nav h2 {
  border-bottom: 0.1rem black solid;
  width: fit-content;
  padding: 0% 2%;
  position: relative;
  left: 2%;
}
nav ul {
  font-size: 1.75rem;
  list-style: circle;
}
.mini-ul {
  font-size: 1.5rem;
  margin: 0.5% 0% 1%;
}

.flex {
  display: flex;
}
main {
  width: 80%;
  padding: 0% 2%;
}
aside {
  width: 16%;
  margin-right: 2rem;
  text-align: justify;
  background-color: rgb(0, 0, 0, 0);
  position: fixed;
  bottom: 20%;
  left: 83%;
}
/*メイン
-------------------------------------*/
.sakuhinn {
  min-height: 100vh;
  margin: 1% 0%;
}
.sakuhinn h2 {
  padding-top: 8%;
}
main p {
  font-size: 1.7rem;
}
/*アサイド
-------------------------------------*/
aside h3 {
  text-align: center;
  border-bottom: 0.1rem black solid;
}
/*バックボタン
-------------------------------------*/
.back-button {
  color: rgb(0, 0, 0, 0.5);
  font-size: 2.5rem;
  position: fixed;
  top: 89%;
  left: 94%;
}
