@charset "UTF-8";
html {
  font-size: 28px;
  width: 100%;
  height: 100%;
  /* scroll-behavior: smooth; */
}
body {
  line-height: 1.7;
  margin: 0px;
  background-color: pink;
}
header, main {
  margin: 0px;
}
h1, main h2 {
  text-align: left;
  color: aqua;
}
h2 {
  font-size: 70px;
  margin: 10px auto 5px;
}
h3 {
  font-size: 25px;
  margin: 5px auto 50px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.grid {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* Annotation
----------------------------------------*/
.annotation {
  font-size: 20px;
}
/* Background-color
----------------------------------------*/
.backcolor {
  background-color: rgb(255, 255, 255, 0.15);
  padding-top: 10%;
  padding-bottom: 10%;
}
/* Color
----------------------------------------*/
.aqua {
  color: aqua;
}
/* Scroll
----------------------------------------*/
/* .scroll {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.scroll-area {
  scroll-snap-align: start;
  height: 100vh;
} */
/* Header
----------------------------------------*/
header, .work, .about {
  min-height: 100vh;
}
h1 {
  /* color: aqua;
  text-align: left; */
  text-shadow: 6.5px 6.5px 6.5px rgb(0, 0, 0);
  font-size: 100px;
  margin-top: 0px;
  line-height: 1.1;
  margin: auto;
  width: fit-content;
  text-align: left;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 35px;
}
header li {
  margin: 0px 20px 0px 20px;
}
/* Main
----------------------------------------*/
main {
  margin: 0% 6%;
}
/* Work
----------------------------------------*/
.work img {
  width: 300px;
}
/* About
----------------------------------------*/
.about {
  margin: 100px 0px 60px;
}
.about div p:first-child {
  margin-top: 0px;
}
.about h3
.about p {
  margin: 5px 0px 20px auto;
}
.about img {
  width: 400px;
  height: auto;
}
.img-div {
  text-align: right;
  width: fit-content;
  margin-right: 5%;
}
/* Skill
----------------------------------------*/
.skill {
  display: flex;
  justify-content: left;
}
.skill div {
  margin: 0px 50px 0px 0px;
}
.skill h3 {
  text-align: left;
  margin:0px auto;
}
.skill p {
  margin: 0px auto;
  text-align: center;
}
.skill ~ p {
  /* background-color: white; */
  margin-top: 4%;
} 
/* Footer
----------------------------------------*/
footer {
  color: aqua;
  text-align: center;
  /*  フッター用backcolor  */
  background-color: rgb(255, 255, 255, 0.15);
  padding-top: 5%;
  padding-bottom: 5%;
}
/* Responsive
-----------------------------------------*/
@media (max-width:680px) {
  body {
    width: 100%;
    min-width: 680px;
  }
  h1 {
    font-size: 80px;
  }
  .work,
  .work h3 {
    text-align: center;
  }
}
@media (max-width:1220px) {
  .br-pc { display: none; }
  .br-sp { display: block;  }
}
@media (min-width:1220px) {
  .br-pc { display: block; }
  .br-sp { display: none;  }
}
@media (max-width:900px) {
  .flex {
    text-align: center;
  }
  .about .flex {
    display: block;
  }
  .about .img-div {
    margin: 0 auto;
  }
  .skill {
    display: block;
  }
  .skill h3 {
    text-align: center;
    margin-top: 50px;
  }
  .skill ~ p {
    text-align: center;
  }
}
