@charset "UTF-8";
/*----------  共通部分  ----------*/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  background-color: rgb(255, 255, 255);
  line-height: 1.7;
  color: #432;
  margin: 0px;
}
h1 {
  font-size: 3rem;
}
.nav ,h2 {
  font-size: 2.6rem;
}
p {
  font-size: 1.6rem;
}
.border {
  /* background-color: aquamarine; */
  border-bottom: 0.1rem rgb(68, 51, 34, 0.8) solid;
  padding: 0rem 2.5rem;
}
a {
  text-decoration: none;
  color: #432;
}
header, .right, .center, .left {
  min-height: 100vh;
}
.yellow {
  color: yellow;
  text-shadow: 0.05rem 0.05rem 0 #432;
}
.blue {
  color: blue;
  text-shadow: 0.05rem 0.05rem 0 #432;
}
.red {
  color: red;
  text-shadow: 0.01rem 0.01rem 0 #432;
}
.green {
  color: rgb(51, 153, 0);
}
.back {
  font-size: 2rem;
  color: rgb(68, 51, 34, 0.5);
  position: fixed;
  bottom: 3%;
  left: 95%;
}
/*ヘッダー
-----------------------------------------*/
/*----------  nav  ----------*/
.nav {
  margin: 0% 0% 10%;
  position: relative;
  top: 2rem;
}
.nav li {
  display: inline;
  list-style: none;
  /* margin-left: 40px; */
}
.nav a {
  padding: 3% 0%;
  margin: 0% 3%;
}
.hover-yellow a:hover {
  color: yellow;
  text-shadow: 0.05rem 0.05rem 0 #432;
}
.hover-blue a:hover {
  color: blue;
  text-shadow: 0.05rem 0.05rem 0 #432;
}
/*----------  ヘッダーのプロフィール  ----------*/
.header-profile {
  /* background-color: antiquewhite; */
  justify-content: center;
  display: flex;
  height: 36rem;
}
.name {
  /* position: relative;
  top: 10%;
  left: 25%; */
  margin-right: 100px;
}
.hobby {
  /* background-color: aqua; */
  position: relative;
  top: 8rem;
  height: 20rem;
  font-size: 1.4rem;
  /* left: 60%; */
}

.hobby abbr {
  text-decoration: none;
}
.profile-header {
  text-align: center;
  font-size: 4rem;
}
.profile-header span {
  text-shadow: 0.3rem 0.3rem 0 #432;
}
/*プロフィールの目次
----------------------------------------*/
.mokuji {
  width: fit-content;
  margin: 1% 0%;
  position: relative;
  top: 2%;
  left: 65%;
}
.mokuji p {
  border-bottom: 0.1rem green solid;
  padding: 0%;
  margin: 0%;
}
.mokuji ul {
  font-size: 1.5rem;
  list-style: square;
}
.mokuji li {
  padding-bottom: 3rem;
}
.mokuji a {
  text-decoration: underline;
  text-decoration-color: rgb(68, 51, 34,);
}

/*プロフィール
----------------------------------------*/
main {
  text-align: center;
}
main h2 {
  /* background-color: aliceblue; */
  width: fit-content;
  margin: 0 auto;
  font-size: 2.3rem;
}
/* main p {
  margin-bottom: 10rem;
  text-align: justify;
  padding: 0% 23% 0% 28%;
} */
main img {
  width: 80%;
  height: 80%;
  margin: 3rem 0rem 0rem 0rem;
  background-size: cover;
}
.left {
  /* background-color: blueviolet; */
  width: 50%;
  margin: 0rem 50% 0rem 0rem;
}
.center {
  /* background-color: bisque; */
  width: 50%;
  margin: 0rem 25%;
}
.right {
  /* background-color: greenyellow; */
  width: 50%;
  margin: 0rem 0rem 0rem 50%;
}

main ul {
  padding: 0% 15% 0% 20%;
  list-style-type: circle;
  font-size: 1.6rem;
}
main li {
  text-align: justify;
  padding-bottom: 1rem;
}
/*ワーク
-------------------------------------*/
.sakuhinn {
  display: flex;
  justify-content: space-evenly;
}
.sakuhinn div {
  width: fit-content;
  margin: 0% 10%;
}
.sakuhinn img {
  background-size: cover;
  width: 42rem;
}
.sakuhinn p {
  text-align: center;
  font-size: 1.3rem;
}
.sakuhinn-p{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5%;
}
/*モバイル版
-----------------------------------------*/
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  main ul {
    padding: 0% 16% 0% 14%;
  }
}
@media (max-width: 800px) {
  .mokuji {
    position: relative;
    top: 2%;
    left: 60%;
  }
  .back {
    position: fixed;
    bottom: 3%;
    left: 90%;
  }
}
