@charset "UTF-8";
/*----------  共通部分  ----------*/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  margin: 0%;
  color: #432;
  background-color: rgb(247, 234, 195);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
img {
  width: 100%;
  height: 100%;
}
.haikei {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
a {
  color: #432;
  text-decoration: none;
}
/*ヘッダー
----------------------------------------------*/
header {
  background-image: url("私服header.jpg");
  min-height: 70vh;
}
header .square {
  background-color: yellow;
  position: relative;
  top: 15rem;
  left: 27%;
  /* width: 12%;  */
  /* height: 10%; */
  width: 12%;
}
header h1 {
  text-align: center;
  font-size: 2.5vw;
  /* padding: 5rem 0rem; */
  margin: 0rem;
  padding: 31% 0%;
  width: 100%;
}
/*メイン
---------------------------------------------*/
.setumei {
  text-align: center;
  font-size: 1.5rem;
  min-height: 30vh;
  margin: 10rem 0rem;
}
main h2 {
  text-align: center;
}
.grid {
  display: grid;
  gap: 2.6rem;  /*  要素同士の余白  */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /*  1列に3つの要素が入る横幅に設定  */
  margin: 0  10rem auto;
  width: auto;
}
.grid img {
  width: 30rem;
  height: 25rem;
}
.grid p {
  text-align: center;
}
.rennraku {
  text-align: center;
  font-size: 2rem;
}
.rennraku p {
  padding: 3rem 0rem;
}
